.weekdata{
  width: 20%;
  height: 40px;
  background-color: rgb(0, 85, 255);
  border-radius: 3px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.weekdata p{
  font-weight: bold;
  font-size: 0.9em;
}

.handles{
  display: flex;
  align-items: center;
  gap: 12px;
  /* justify-content: space-evenly; */

}



.dateing{
  width: 90px;
  height: 33px;
  border-radius: 1px;
  background-color: rgba(33, 4, 255, 0.624);;
  position: absolute;
  color: white;
  left: 23%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}



.custom-date-input {
  cursor: pointer;
  padding: 8px 12px; /* Adjust padding as needed */
  border: 1px solid #ccc; /* Border color */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Font size */
  outline: none; /* Remove default outline */
  transition: border-color 0.3s ease; /* Smooth transition for border color */
  background-color: #ffffff; 
  color: rgba(8, 8, 70, 0.713);
}

.custom-date-input:focus {
  cursor: pointer;
  border-color: #007bff; /* Border color when focused */
}


.dateing:active{
  background: blue;
  cursor: pointer;
}

.datepicking{
  display: flex;
  position: absolute;
  right: 29px;
  top: 95px;

}


.report {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* background-color: blue; */
  gap: 23px;
}

.sectionthres {
  background-color: rgba(255, 255, 255, 0.449);
  width: 76%;
  min-height: 259vh;
  position: absolute;
  right: 1%;
  padding: 23px;
  margin-top: 16px;
  border-radius: 12px;

  border: 1px solid rgba(0, 0, 0, 0.085);
}


.line {
  width: 100%;
  height: 3px;
  background-color: #248eff59;
  border-radius: 12px;
  margin-top: 12px;
}
.dots {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(255, 0, 255);
}
.allo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 33px; */
  margin-top: 8px;
  /* padding-left: 12px;
    padding-right: 12px; */
}
.allrep {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 7px;
  justify-content: flex-start;
  align-items: center;
}
.moja {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.556);
}

.mbili {
  font-size: 1em;
  /* margin-left: 27px; */
}

.dda {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.conts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  gap: 10px;
  margin-top: 13px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(47, 0, 255, 0.046);
}

.prics {
  width: 90%;
  height: 110px;
  border: 1px solid rgba(0, 0, 0, 0.127);
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.716);
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.prics p:nth-child(1) {
  font-weight: bold;
}

.prics p:nth-child(2) {
}

#prc{
  color: rgba(0, 86, 114, 0.786);
}

.contss {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 8px;
  /* padding-bottom: 42px; */
  /* background-color: rgb(0, 128, 255); */
  /* border-bottom: 3px solid rgba(47, 0, 255, 0.046); */
}

.priccs {
  width: 90%;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.127);
  border-radius: 3px;
  color: rgb(0, 143, 238);
  padding: 12px;
  background-color: #00aeff09;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.priccs p:nth-child(1) {
  /* font-weight: bold; */
  font-size: 0.8em;
}

.priccs p:nth-child(2) {
    font-size: 0.8em;
}

.differencereason{
    color: black;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    margin-top: 27px;
    border: 1px solid rgba(0, 0, 0, 0.075);
    width: 100%;
    border-radius: 5px;
height: 45px;
padding: 12px;
    ;
}

.differencereason p:nth-child(1){
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.622);
}

.differencereason p:nth-child(2){
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.622);
}

.debtorslist{
    margin-top: 23px;
}

.stocks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 23px;
    /* background-color: blue; */
}

.diesels{
    width: 350px;
height: 95px;
border: 1px solid rgba(0, 0, 0, 0.123);
border-radius: 3px;
color: rgba(0, 0, 0, 0.838);
gap: 9px;
padding: 12px;
}


.alldiesel{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pps{
    font-weight: bold;
    margin-bottom: 12px;
}


.debtorslist{
    width: 100%;
    min-height: 23vh;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.deters p{
    color: rgba(0, 0, 0, 0.818);
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 12px;
}

.dlist{
    background-color: rgb(0, 76, 255);
}

.debtorslists{
    width: 100%;
    min-height: 23vh;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 23px;

    margin-bottom: 34px;

}

.debtorslista{
    width: 100%;
    min-height: 3vh;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 23px;

    margin-bottom: 14px;
    position: relative;
}


.debtorslis{
    background-color: rgba(0, 30, 255, 0.005);
    height: 55px;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 13px;
    
}

.debtorslis button:nth-child(1){
    width: 190px;
    height: 45px;
    border-radius: 4px;
    background: blue;
    border:none;
    color: white;
}

.debtorslis button:nth-child(2){
    width: 190px;
    height: 45px;
    border-radius: 4px;
    background: rgb(255, 0, 0);
    color: white;
    border:none;
}

.debtoslis{
 
    height: 55px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    
}

.mesags{
    /* background-color: blue; */
    height: 45px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.msgs{
    background-color: rgba(0, 0, 255, 0.09);
    height: 45px;
    width: 270px;
    border-radius: 5px;
    position: relative;
}

.msgs input{
    color: rgba(0, 0, 0, 0.763);
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 12px;
    padding-right: 40px;
    background-color:rgba(0, 0, 255, 0.082);
}

.msgs input::placeholder{
    color: rgba(0, 0, 0, 0.248);
}

.msgs img{
    width: 23px;
    position: absolute;
    right: 10px;
    top: 12px;
    cursor: pointer;
}

.msgsent{
    position: absolute;
color: rgba(0, 98, 255, 0.692);

    height: 35px;
    width: 320px;
    right: 0;
    top: -53px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.digi{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9em;
}

.analogs{
  width: 100%;
  height: 45px;
  display: flex;
  background: rgba(0, 26, 255, 0.089);
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  margin: 12px;
  color: rgba(0, 140, 255, 0.786);
}