

.editexp{
  width: 30px;
  min-height: 30px;
  background: rgba(255, 255, 255, 0.697);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  position: relavive;

  
}

.editexp img{
  width: 18px;
}

.csc{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  /* background: rgb(0, 255, 21); */
}

.canc img{
  width: 30px
}


@media screen and (min-width: 640px) {

.sectionthres {
  background-color: rgba(255, 255, 255, 0.449);
  width: 56%;
  height: 99vh;
  position: absolute;
  right: 12%;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 16px;
  border-radius: 12px;
}

.canc{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.canc img{
  width: 30px
}



.addexpenses {
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgb(0, 47, 255);
  border-radius: 4px;
  width: 20%;
  height: 45px;
  position: absolute;
  right: 23%;
  cursor: pointer;
  top: 24px;
  /* bottom: 13%; */
  /* right: 0; */
}

.mysals{
  /* background: rgba(0, 138, 251, 0.055); */
}

.addexpenses button {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 1em;
}

.mpesaa p {
  font-size: 1.2em;
  color: rgba(0, 136, 255, 0.815);
}

.pesaa {
  padding-left: 12px;
  border-left: 3px solid rgba(47, 3, 222, 0.175);
}

/*  */

.lss {
  background: linear-gradient(to right, rgb(25, 36, 255), rgba(0, 36, 216, 0.911));
  height: 79vh;
  border-radius: 5px;
  display: flex;
  gap: 5px;
  /* padding:12px; */
  overflow: scroll;
  flex-direction: column;
}

.lss {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.lss::-webkit-scrollbar {
  display: none;
}

.paysa p {
  font-size: 1.2em;
}

.general {
  height: 47px;
  width: 100%;
  background: rgba(0, 110, 255, 0.108);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 1px;
  color: rgb(0, 119, 255);
  margin-bottom: 23px;
}

}