




.bbbs {
    width: 100%;
    min-height: 15vh;
    background: linear-gradient(to right, rgb(0, 38, 255), rgb(162, 0, 255));
    border-radius: 5px;
    margin-top: 23px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.9em;
    cursor: pointer;
    flex-direction: column;
    position: relative;
    z-index: 99;

  }
  
  .bbb:hover {
    background: linear-gradient(to right, rgb(162, 0, 255), rgb(0, 38, 255));
  }
  

  #ll{
    margin: 12px;
    font-weight: 560;
    font-size: 1.4em;
    color:rgba(255, 255, 255, 0.885);
    font-family: monospace;
    
  }
  
  .lats p{
    font-size: 1.2em;
    margin: 4px;
    font-family: monospace;
  }

  .crcs::after {

    width: 90px;
    height: 90px;
    background: linear-gradient(
      to right,
      rgba(52, 79, 87, 0.578),
      rgb(22, 6, 32)
    );
    border-radius: 50% 50% 58% 42% / 50% 55% 45% 50%;
    position: absolute;
    z-index: 0;
    left: -142px;
    top: 37%;
    overflow: none;
  }