body {
  background-color: white;
}

.download p{
  cursor: pointer;
  font-weight: bold;
  font-size: 0.8em;
}

@media screen and (min-width: 540px) {
  .welcome-pages {
    min-height: 110vh;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    background-image: linear-gradient(
        rgba(11, 1, 67, 0.699),
        rgba(3, 0, 37, 0.932)
      ),
      url("../../Images/sheli.jpg");
  }

  .login-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    flex-direction: column;
  }

  .login-left {
    width: 500px;
    height: 500px;
    background: linear-gradient(
      to top left,
      rgba(142, 206, 2, 0.303),
      rgba(3, 4, 49, 0.483)
    );
    border-radius: 50%;
    position: relative;
    top: 80px;
    left: -350px;
    box-shadow: 1px 11px 52px 22px rgba(255, 255, 255, 0.297);
  }
  .login-img {
    position: absolute;
    width: 600px;
    left: 23px;
    height: 600px;
    border-radius: 53% 47% 50% 50% / 38% 41% 59% 62%;
    box-shadow: 1px 11px 82px 22px rgba(1, 68, 131, 0.297);
  }

  /* .cover{
      position: absolute;
      width: 100%;
      height: 800px;
      background: linear-gradient(to right top, rgba(4, 4, 65, 0.298),rgb(64, 0, 128));
  } */

  .login-right {
    width: 30%;
    height: auto;
    position: absolute;
    top: 140px;
    right: 80px;
    background: rgba(255, 255, 255, 0.085);
    backdrop-filter: blur(12px);
    border-radius: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 40px;
    padding-bottom: 50px;
  }

  .login-data {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .forms {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 80%;
    margin-top: 23px;
    margin-bottom: 23px;
  }

  .forms .input-one {
    display: flex;
    gap: 10px;
    position: relative;
  }

  .forms .input-two {
    display: flex;
    gap: 10px;
    position: relative;
  }

  .login-data p:nth-child(1) {
    font-size: 1.5em;
    font-weight: bold;
  }

  .login-data p:nth-child(2) {
    font-size: 0.9em;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.746);
  }

  .input-one input {
    background: transparent;
    outline: none;
    border: 1px solid rgb(255, 255, 255);
    height: 45px;
    width: 100%;
    border-radius: 5px;
    padding-left: 12px;
  }

  .input-two input {
    background: transparent;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.743);
    height: 45px;
    width: 100%;
    border-radius: 5px;
    padding-left: 12px;
  }

  .input-one input::placeholder {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
  }

  .input-two input::placeholder {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
  }

  .remeber {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 9px;
    margin-left: -142px;
  }

  .remeber input {
    width: 14px;
    height: 14px;
    border-radius: 5px;
    border: none;
    outline: none;
  }

  input {
    color: rgba(255, 255, 255, 0.871);
  }

  .input-one input:focus {
    border: 3px solid rgba(31, 31, 255, 0.362);
  }

  .input-two input:focus {
    border: 3px solid rgb(31, 31, 255);
  }

  button {
    cursor: pointer;
  }

  .remeber p {
    font-size: 0.8em;
  }
  .remember-opt {
    width: 60%;
    margin: 23px;
  }
  .remember-opt .sign-btn {
    height: 40px;
    width: 100%;
    border-radius: 6px;
    background: rgb(6, 22, 172);
    outline: none;
    color: rgb(255, 255, 255);
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 5px;
    border: 3px solid rgba(255, 255, 255, 0.1);
  }

  .anaccount {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 3px;
  }

  .anaccount p {
    font-size: 0.9em;
    font-weight: bold;
  }

  .account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: -94px;
    left: 25%;
  }

  .accounts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* position: absolute; */
    bottom: -44px;
    left: 27%;
    margin: 12px;
  }

  .accounts p {
    font-size: 0.8em;
  }

  #forgot {
    color: rgba(253, 253, 255, 0.556);
    cursor: pointer;
  }
  .acc {
    font-size: 0.8em;
  }

  .account p:nth-child(2) {
    color: rgb(67, 129, 255);
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
  }

  span {
    color: rgb(67, 129, 255);
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
  }

  .body-contentc {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 12px; */
    position: relative;
    top: 104px;
    border-radius: 10px;
  }

  .highlight-anim {
    margin-right: -632px;
    position: relative;
    margin-top: -54px;
  }

  .jinsr {
    width: 100%;
    height: 45px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
  }

  .our {
    min-width: 100%;
    min-height: 22vh;
    /* border: 2px solid rgba(255, 255, 255, 0.096); */
    margin-top: -73px;
    border-radius: 5px;
    /* padding: 23px; */
    backdrop-filter: blur(5px);
    animation: dscbox 2s ease-in-out;
    /* background: linear-gradient(#0016d80b, #00126c29); */
    /* position: absolute; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
    right: -8px;
  }

  .ou {
    min-width: auto;
    min-height: 22vh;
    border: 1px solid rgba(255, 255, 255, 0.183);
    margin-top: -43px;
    border-radius: 23px;
    padding: 23px;
    backdrop-filter: blur(5px);
    animation: dscbox 2s ease-in-out;
    background: linear-gradient(#05149c0b, #ffffff29);
    /* position: absolute; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
    right: 114px;
  }

  .sdas {
    width: 85px;
    height: 85px;
    background: rgba(255, 255, 255, 0.224);
    border-radius: 50%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    box-shadow: 2px 35px 35px -4px rgba(255, 255, 255, 0.364),
      inset 15px 15px 30px rgba(7, 110, 255, 0.327),
      inset 1px -1px 14px rgba(255, 255, 255, 0.723);
  }

  .sdas img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .sdacont {
    min-height: 20vh;
    backdrop-filter: blur(4px);
    min-width: 360px;
    background: rgba(1, 37, 114, 0.937);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 12px;
    text-align: center;
    border: 3px solid rgba(255, 255, 255, 0.243);
  }

  .sdaconts {
    min-height: 20vh;
    backdrop-filter: blur(4px);
    min-width: 360px;
    background: rgba(1, 37, 114, 0.041);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 12px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.243);
  }

  .lsa {
    /* background: linear-gradient(to right, rgb(2, 7, 92), rgb(1, 20, 66)); */
    min-height: 86vh;
    border-radius: 5px;
    display: flex;
    gap: 5px;
    /* padding:12px; */
    /* overflow: scroll; */
    flex-direction: column;
    margin-top: -54px;
  }

  .lsa {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .lsa::-webkit-scrollbar {
    display: none;
  }

  .sectionthresa {
    background-color: rgba(255, 255, 255, 0.449);
    width: 76%;
    height: 99vh;
    position: absolute;
    right: 2%;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 16px;
    border-radius: 12px;
  }

  .bodyone {
    display: flex;
    width: 100%;
    min-height: 23vh;
    /* background: blue; */
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px;
    gap: 34px;
  }

  .bodytwo {
    display: flex;
    width: 100%;
    min-height: 23vh;
    /* background: rgb(255, 0, 0); */
    justify-content: space-around;
    align-items: center;
    gap: 32px;
  }

  .twos {
    margin: 8px;
    font-size: 1em;
    font-weight: bold;
  }

  .canc {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.09);
    margin-top: -12px;
  }

  .contentonestya {
    background: linear-gradient(to right, rgb(6, 40, 81), rgb(4, 1, 145));
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 32%;
    min-height: 83vh;
    margin-top: -100px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 23px;
    position: relative;
    z-index: 10000;
  }

  .contentonesty {
    background: linear-gradient(to right, rgb(6, 40, 81), rgb(4, 1, 145));
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 32%;
    min-height: 77vh;
    margin-top: -100px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    z-index: 10000;
  }

  .contentonest {
    background: linear-gradient(to right, rgb(6, 40, 81), rgb(4, 1, 145));
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 45%;
    min-height: 80vh;
    margin-top: -44px;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    border-radius: 10px;
    z-index: 10000;
  }

  .contentonesya {
    background: linear-gradient(to right, rgb(6, 40, 81), rgb(4, 1, 145));
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 56%;
    min-height: 71vh;
    margin-top: -14px;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 9px;
    border-radius: 10px;
    z-index: 10000;
  }

  .contentonesy {
    background: linear-gradient(to right, rgb(6, 40, 81), rgb(4, 1, 145));
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 45%;
    min-height: 73vh;
    margin-top: -114px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    z-index: 10000;
  }

  .contentonesa {
    background: linear-gradient(to right, rgb(6, 40, 81), rgb(4, 1, 145));
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 75%;
    min-height: 60vh;
    margin-top: -114px;
    border-radius: 10px;
    padding-top: 23px;
    z-index: 10000;
  }

  .contentones {
    background: linear-gradient(to right, rgb(0, 61, 135), rgb(3, 2, 76));
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 50%;
    min-height: 54vh;
    margin-top: -114px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    z-index: 10000;
  }

  .contentone {
    background: linear-gradient(to right, rgb(8, 0, 115), rgb(10, 0, 150));
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 50%;
    min-height: 33vh;
    border-radius: 10px;
    padding: 12px;
    border-radius: 10px;
    z-index: 10000;
  }

  .contentwo {
    background: linear-gradient(to right, rgb(2, 52, 167), rgb(4, 2, 76));
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 52%;
    min-height: 33vh;
    border-radius: 10px;
    padding: 12px;
    z-index: 10000;
  }

  .jins {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 13px;
  }

  .jins p {
    font-weight: bold;
    font-size: 1.2em;
  }

  .chote {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 14px;
  }

  .chotes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .bone {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .thetwo {
    width: 100%;
    position: relative;
    display: flex;
  }

  .thetwo button {
    border: none;
    height: 42px;
    width: 100%;
    background: rgb(6, 22, 172);
    outline: none;
    color: rgb(255, 255, 255);
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 5px;
    border: 3px solid rgba(255, 255, 255, 0.1);
  }

  .thetwo button:active {
    background: rgba(221, 0, 255, 0.236);
  }

  .jinss {
    width: 70%;
    height: 45px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.113);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .thetwos {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .thetwos input {
    border: none;
    height: 45px;
    background: rgba(255, 255, 255, 0.035);
    outline: none;
    color: rgb(255, 255, 255);
    padding-left: 12px;
    padding-right: 12px;
    font-weight: bold;
    font-size: 1em;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.179);
  }

  .thetwo input:focus {
    /* border: 3px solid rgba(255, 255, 255, 0.426); */
  }

  .thetwos input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.9em;
  }

  .thetwo p {
    font-size: 0.8em;
  }

  .thetwos p {
    font-size: 0.8em;
  }
  .thetwo input {
    border: none;
    height: 35px;
    background: rgba(255, 255, 255, 0.037);
    outline: none;
    color: rgb(255, 255, 255);
    padding-left: 12px;
    padding-right: 12px;
    /* font-weight: bold; */
    font-size: 1.1em;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.478);
  }

  .thetwo input::placeholder {
    color: rgba(255, 255, 255, 0.648);
    font-size: 0.8em;
  }

  .thetwo p {
    font-size: 1em;
  }

  .updateing {
    background-color: rgba(0, 0, 255, 0.059);
    width: 100%;
    height: 64px;
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    right: 0;
    border-radius: 5px;
    /* margin-bottom: 12px; */
    border: 3px solid rgba(0, 98, 255, 0.019);
  }

  .updateing button {
    height: 42px;
    width: 26%;
    background: linear-gradient(to right, rgb(11, 0, 135), rgb(0, 60, 163));
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    right: 13px;
    position: absolute;
    border: none;
    outline: none;
    border-radius: 4px;
  }

  .updateing button:active {
    background: blue;
  }

  .edits {
    width: 30%;
    height: 40px;
    background: rgb(185, 1, 25);
    border-radius: 5px;
    position: absolute;
    left: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .edits:active{
    background: rgb(234, 79, 100);
  }

  .poppesao {
    min-height: 113vh;
    width: 100%;
    background: rgba(0, 194, 253, 0.084);
    position: absolute;
    top: 21%;
    border-radius: 9px;
    backdrop-filter: blur(4px);
    z-index: 898;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .poppes {
    min-height: 103vh;
    width: 100%;
    background: rgba(0, 194, 253, 0.084);
    position: absolute;
    top: 1%;
    border-radius: 9px;
    backdrop-filter: blur(4px);
    z-index: 898;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .poppesa {
    min-height: 83vh;
    width: 100%;
    background: rgba(0, 194, 253, 0.084);
    position: absolute;
    top: 21%;
    border-radius: 9px;
    backdrop-filter: blur(4px);
    z-index: 898;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .poppesaa {
    min-height: 93vh;
    width: 100%;
    background: rgba(0, 194, 253, 0.084);
    position: absolute;
    top: 21%;
    border-radius: 9px;
    backdrop-filter: blur(4px);
    z-index: 898;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ours {
    /* background: rgba(6, 39, 201, 0.596); */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-radius: 20px; */
    min-height: 12vh;
  }

  .ours {
    color: white;
  }
}
