@media screen and (max-width: 640px) {
  .mainpage {
    background: rgb(255, 255, 255);
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* padding: 12px; */
    /* padding-top: 100px; */
  }

  .upbove{
    position: absolute;
    width: 100%;
    min-height: 21vh;
    background: linear-gradient(rgba(0, 64, 255, 0.323), rgb(1, 13, 183));
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: fixed;
    z-index: 9990;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 12px; */
  }

  .aboveall{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.833);
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 110, 255);

  }

  .dropdo{
    width: 17px;
    height: 17px;
  }

  .aboveall img{
    width: 38px;;
    height: 38px;
  }

  .allsides {
    /* width: 100%; */
    height: 100vh;
    background: rgba(0, 0, 0, 0.055);
    position: absolute;
    backdrop-filter: blue(3px);
  }

  .aboves p{
    margin: 9px;
  }

  .sectionone {
    width: 96%;
    min-height: 80vh;
    /* background: rgb(4, 55, 242); */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    gap: 27px;
    padding: 20px;
    /* margin: 12px; */
    border-radius: 13px;
    position: absolute;
    margin-top: 173px;
    /* top: 30%; */
    /* left: 9%; */
    z-index: 99;
    transform-style: preserve-3d;
    /* transform: translateZ(90px); */
    backdrop-filter: blur(3px);
    animation: descriptbox 1s ease-in-out;
    background: linear-gradient(rgb(0, 89, 255), rgba(2, 5, 175, 0.959));
  }

  .backs{
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.22);
    left: 10px;

  }
  .uppersect {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    flex-direction: column;
    position: absolute;
    opacity: 0;
  }
  .profilesect {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-top: 14px;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.055); */
    border-radius: 7px;
    padding: 8px;
    background: linear-gradient(rgb(0, 89, 255), rgba(2, 5, 175, 0.959));
    /* background: rgba(255, 255, 255, 0.107); */
    /* flex-direction: column; */
    /* gap: 12px; */
  }

  .profimg img {
    /* width: 50px;
      height: 50px; */
    cursor: default;
  }

  .profimg {
    width: 47px;
    height: 47px;
    background: rgba(255, 255, 255, 0.271);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profcaption {
    background-color: rgba(255, 255, 255, 0.072);
    display: flex;
    gap: 2px;
    width: 100%;
    min-height: 8vh;
    margin: 8px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3px;
    border-radius: 1px solid rgba(255, 255, 255, 0.407);
  }

  .profcaption p:nth-child(1) {
    font-size: 0.96em;
    font-weight: 600;
  }

  .profcaption p:nth-child(2) {
    font-size: 0.8em;
  }

  #sum {
    font-weight: 500;
  }

  .uppersect img {
    width: 63px;
  }
  .midsect {
    /* background: rgba(255, 255, 255, 0.133); */
    /* border-radius: 9px; */
    min-height: 33vh;
    border-bottom-right-radius: 9px;
    border-top-right-radius: 9px;
    width: 100%;
    padding: 12px;
    /* margin-left: 33px; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* background-color: blue; */
    background: linear-gradient(rgb(0, 68, 255), rgba(2, 5, 175, 0.959));
    border-bottom: 1px solid rgba(255, 255, 255, 0.244);
    /* background-image: linear-gradient(red, yellow); */
    /* border-left: 11px solid rgba(3, 194, 220, 0.357); */
  }

  .lowersect {
    background: rgba(7, 1, 1, 0.09);
    height: 43px;
    width: 70%;
    border-left: 3px solid rgba(255, 255, 255, 0.3);
    border-right: 3px solid rgba(255, 255, 255, 0.274);
    border-radius: 6px;
    backdrop-filter: blur(2px);
    display: flex;
    position: absolute;
    bottom: 53px;
    /* justify-content: flex-start; */
    align-items: center;
    /* justify-content: center; */
    padding-left: 63px;
    gap: 12px;
    /* margin-top: 30px; */
    background: linear-gradient(rgb(0, 89, 255), rgba(2, 5, 175, 0.959));
  }

  .logimg {
    width: 22px;
    height: 22px;
    /* background: rgba(255, 255, 255, 0.423); */
    border-radius: 50%;
  }

  .logimg img {
    rotate: 180deg;
    cursor: default;
  }

  .sectcont {
    display: flex;
    align-items: center;
    gap: 12px;
    /* background: rgba(255, 255, 255, 0.097); */
    height: 40px;
    border-radius: 4px;
    padding-left: 12px;
    width: 99%;
    cursor: default;

    /* border-right: 3px solid rgba(255, 255, 255, 0.583); */
    /* border-left: 3px solid rgba(255, 255, 255, 0.583); */
  }

  .sectcont img {
    width: 20px;
  }

  .sectcont p {
    font-size: 0.8em;
    font-weight: 100;
  }

  .copyright {
    font-size: 0.7em;
    position: absolute;
    bottom: 19px;
    font-weight: 10px;
    color: rgba(255, 255, 255, 0.52);
  }

  .midsect div:nth-child(1) {
    background: rgba(255, 255, 255, 0.146);
  }

  /*THE CONTENT PAGE FOR HOME */

  .sectiontwo {
    /* background-color: blue; */
    min-height: 98vh;
    width: 96%;
    /* background: linear-gradient(rgb(0, 89, 255), rgba(2, 5, 175, 0.959)); */
    /* position: absolute; */
    /* left: 24%; */
    margin-top: 16px;
    border-radius: 13px;
    margin-top: 160px;
    /* padding: 12px; */
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .lineage{
    position: absolute;
    opacity: 0;
  }

  .upsection {
    width: 100%;
    height: 69px;
    background: rgba(11, 96, 255, 0.022);
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    border: 3px solid rgba(0, 0, 255, 0.045);
  }

  .leftsect {
    gap: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .leftimg {
    width: 36px;
    height: 36px;
    background: rgba(18, 64, 190, 0.087);
    border-radius: 50%;
    display: flex;
    align-items: center;
    backdrop-filter: blur(3px);
    justify-content: center;
  }

  
  .leftimgs {
    width: 26px;
    height: 26px;
    background: rgba(0, 38, 255, 0.11);
    border-radius: 50%;
    display: flex;
    align-items: center;
    backdrop-filter: blur(3px);
    justify-content: center;
  }

  .leftsect img {
    width: 25px;
  }

  .lowsection {
    width: 100%;
    min-height: 70vh;
    background: rgba(0, 92, 183, 0.094);
    display: flex;
    /* align-items: center; */
    border-radius: 11px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .misect {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .left {
    width: 100%;
    min-height: 23vh;
    /* background: rgb(255, 255, 255); */
    border-radius: 8px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    /* gap: 12px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  
  .head {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: center;
    /* gap: 5px; */
    height: 44px;
    position: relative;
    padding-left: 12px;
    border: 3px solid rgba(0, 42, 255, 0.122);
    top: -10px;
    width: 100%;
    background: rgb(255, 255, 255);
    /* background: linear-gradient(rgba(13, 123, 234, 0.152), rgba(208, 209, 218, 0.174)); */
    border-radius: 5px;
    /* border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; */
  }

  .headword {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 14px;
  }

  .headword p {
    color: rgba(2, 54, 121, 0.544);
    font-weight: bold;
    font-size: 0.7em;
  }

  
  .graph {
    height: 190px;
    width: 100%;
    margin-bottom: 23px;
    background: rgba(252, 253, 255, 0.153);
    padding: 12px;
    box-shadow: 30px 30px 30px -24px rgba(57, 100, 255, 0.078),
      inset 15px 15px 10px rgba(255, 255, 255, 0.212),
      -15px 15px 35px rgba(255, 255, 255, 0.2),
      inset 1px -1px 10px rgba(10, 0, 99, 0.192);
  }

  .graphs {
    height: 190px;
    width: 100%;
    margin-bottom: 23px;
    color: rgba(0, 0, 0, 0.679);
    width: 100%;
    min-height: 12vh;
    /* border: 1px solid rgba(0, 0, 0, 0.148); */
    padding: 12px;
    border-radius: 8px;
    background: rgba(252, 253, 255, 0.153);

    box-shadow: 30px 30px 30px -24px rgba(57, 100, 255, 0.078),
      inset 15px 15px 10px rgba(255, 255, 255, 0.212),
      -15px 15px 35px rgba(255, 255, 255, 0.2),
      inset 1px -1px 10px rgba(10, 0, 99, 0.192);
  }

  .upsection p {
    color: rgba(2, 68, 199, 0.724);
  }

  #today {
    font-size: 2em;
    font-weight: bold;
  }

  #act {
    font-size: 1em;
    font-weight: 600;
  }

  #thisw {
    font-size: 0.84em;
  }

  #acts {
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.763);
  }

  .grap {
    width: 120px;
    height: 120px;
    border-radius: 59% 41% 56% 44% / 37% 48% 52% 63% ;
    background: linear-gradient(
      rgba(31, 31, 255, 0.883),
      rgba(0, 62, 233, 0.959)
    );
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    /* position: absolute;; */
    /* opacity: 0; */
  }

  .right {
    width: 100%;
    min-height: 18vh;
    background: rgba(255, 255, 255, 0.726);
    border-radius: 8px;
    padding: 12px;
  }
  .leftims {
    width: 26px;
    height: 26px;
    background: rgba(18, 64, 190, 0.053);
    border-radius: 50%;
    display: flex;
    align-items: center;
    backdrop-filter: blur(3px);
    justify-content: center;
  }

  .leftims img {
    width: 20px;
  }

  
  .lowersects {
    background: rgba(7, 1, 1, 0.09);
    height: 55px;
    width: 100%;
    /* margin-left: 33px; */
    /* border-top: 1px solid rgba(255, 255, 255, 0.746); */
    /* border-left: 3px solid rgba(255, 255, 255, 0.3); */
    /* border-right: 3px solid rgba(255, 255, 255, 0.274); */
    /* border-radius: 6px; */
    backdrop-filter: blur(2px);
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    justify-content: center;
    /* padding-left: 33px; */
    gap: 12px;
    margin-top: 10px;
    border-radius: 7px;
    background: linear-gradient(
      rgba(31, 31, 255, 0.883),
      rgba(0, 62, 233, 0.959)
    );
  }

  
  .cc {
    display: flex;
    flex-direction: column;
    text-align: start;
  }

  .pricings {
    height: 65px;
    width: 100%;
    display: flex;
    /* padding: 12px; */
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    background: rgba(183, 183, 183, 0.028);
    margin-top: 18px;
    box-shadow: 30px 30px 30px -24px rgba(57, 100, 255, 0.279),
      inset 15px 15px 10px rgba(255, 255, 255, 0.212),
      -15px 15px 35px rgba(255, 255, 255, 0.2),
      inset 1px -1px 10px rgba(4, 0, 255, 0.23);
  }

  .l {
    display: flex;
    gap: 4px;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
    width: 70%;
    /* flex-direct; */
    border-right: 1px solid rgba(0, 0, 255, 0.122);
  }
  .petrol {
    color: rgba(0, 0, 0, 0.731);
    display: flex;
    gap: 9px;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    /* background: blue; */
    gap: 12px;
  }

  .pimg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background: rgb(238, 249, 255);
    border-radius: 5px;
    border-radius: 50%;
    box-shadow: 30px 30px 30px -24px rgba(14, 235, 255, 0.279),
      inset 15px 15px 10px rgba(255, 255, 255, 0.212),
      -15px 15px 35px rgba(255, 255, 255, 0.2),
      inset 1px -1px 10px rgba(98, 155, 167, 0.372);
  }

  .pimg img {
    width: 20px;
  }

  .pri {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* background: blue; */
    gap: 8px;
  }

  #cons {
    font-size: 0.7em;
    font-size: bold;
  }

  .pri p {
    font-size: 0.8em;
  }

  #gs {
    font-size: 1em;
    font-weight: bold;
    color: rgba(5, 33, 58, 0.831);
  }

  
  .r {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-right: 23px;
  }

  .ds {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(0, 0, 255, 0.145);
  }

  
  .midsects {
    /* background: rgba(255, 255, 255, 0.133); */
    /* border-radius: 9px; */
    margin-top: 12px;
    min-height: 38vh;
    border-radius: 9px;
    width: 100%;
    padding: 12px;
    /* margin-left: 33px; */
    display: flex;
    flex-direction: column;
    gap: 5px;

    /* background-color: blue; */
    background: linear-gradient(
        rgb(2, 2, 210),
        rgba(10, 80, 255, 0.959)
      );
        border-bottom: 1px solid rgba(255, 255, 255, 0.244);
    /* background-image: linear-gradient(red, yellow); */
    /* border-left: 11px solid rgba(3, 194, 220, 0.357); */
  }

  
  .sectconts {
    display: flex;
    align-items: center;
    gap: 12px;
    background: rgba(255, 255, 255, 0.118);
    height: 48px;
    border-radius: 4px;
    padding-left: 12px;
    width: 99%;
    /* cursor: pointer; */
    justify-content: center;

    /* border-right: 3px solid rgba(255, 255, 255, 0.583); */
    /* border-left: 3px solid rgba(255, 255, 255, 0.583); */
  }

  
  .sectconty {
    display: flex;
    align-items: center;
    gap: 12px;
    /* background: rgba(255, 255, 255, 0.097); */
    height: 38px;
    border-radius: 4px;
    padding-left: 12px;
    width: 99%;
    /* cursor: pointer; */
    justify-content: space-between;
    /* border-right: 3px solid rgba(255, 255, 255, 0.583); */
    /* border-left: 3px solid rgba(255, 255, 255, 0.583); */
  }

  .sectconty img {
    width: 20px;
  }

  .sectconty p {
    font-size: 0.8em;
    font-weight: 100;
  }

  .ssimg{
    display: flex;

    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 1px solid white;
  }
  .sst {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
  }
  .amount {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .amount p {
    font-size: 0.8em;
  }

  /*SECTION THREE OF THE CONTENT PAGE*/

  .sectionthree {
    background-color: rgba(3, 116, 255, 0.022);
    width: 96%;
    height: 99vh;
    /* position: absolute;
    right: 0; */
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 16px;
    border-radius: 12px;
  }

  
  .lowersecta {
    background: rgba(7, 1, 1, 0.09);
    height: 47px;
    width: 100%;
    /* border-left: 3px solid rgb(255, 255, 255); */
    /* border-right: 3px solid rgba(6, 194, 24, 0.878); */
    border-radius: 6px;
    backdrop-filter: blur(2px);
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    justify-content: center;
    /* padding-left: 63px; */
    font-size: 0.9em;
    font-weight: bold;
    gap: 12px;
    margin-top: 10px;
    background: #2a00fd;
    /* background: linear-gradient(rgba(31, 184, 255, 0.757), rgba(66, 69, 255, 0.959)); */
  }

  
  .first {
    color: rgba(0, 0, 0, 0.679);
    width: 100%;
    min-height: 12vh;
    /* border: 1px solid rgba(0, 0, 0, 0.148); */
    padding: 12px;
    border-radius: 8px;
    background: rgba(252, 253, 255, 0.153);
    margin-top: 18px;
    box-shadow: 30px 30px 30px -24px rgba(57, 100, 255, 0.078),
      inset 15px 15px 10px rgba(255, 255, 255, 0.212),
      -15px 15px 35px rgba(255, 255, 255, 0.2),
      inset 1px -1px 10px rgba(10, 0, 99, 0.192);
  }

  
  .firsts {
    color: rgba(0, 0, 0, 0.679);
    width: 100%;
    min-height: 8vh;
    /* border: 1px solid rgba(0, 0, 0, 0.148); */
    padding: 12px;
    border-radius: 8px;
    background: rgba(252, 253, 255, 0.153);
    margin-top: 18px;
    box-shadow: 30px 30px 30px -24px rgba(57, 100, 255, 0.078),
      inset 15px 15px 10px rgba(255, 255, 255, 0.212),
      -15px 15px 35px rgba(255, 255, 255, 0.2),
      inset 1px -1px 10px rgba(10, 0, 99, 0.192);
  }


  .fs {
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 7px;
  }

  .ex {
    display: flex;
    gap: 7px;
  }

  .ex img {
    width: 17px;
  }

  
  .ex p {
    font-size: 0.82em;
    font-weight: 590;
  }

  .curr {
    border: 1px solid rgba(0, 0, 0, 0.089);
    padding: 5px;
    border-radius: 5px;
  }

  .curr p {
    font-size: 0.82em;
  }

  .sc {
    /* background: rgba(0, 0, 255, 0); */
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.064);
    border-radius: 9px;
  }

  
  .pd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
    height: 34px;
  
    border-bottom: 1px solid rgba(0, 0, 0, 0.072);
  }

  .pet {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 4px;
  }

  .dies {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .pet p {
    font-size: 0.82em;
  }

  .dies p {
    font-size: 0.85em;
  }

  .exch {
    width: 25%;
    border-left: 1px solid rgba(0, 0, 0, 0.105);
    border-right: 1px solid rgba(0, 0, 0, 0.145);
  }

  .totalamount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 22px; */
    padding-top: 12px;
    padding-bottom: 12px;
    gap: 4px;
  }


  #ids {
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.783);
  }

  .totalamount p:nth-child(2) {
    font-weight: bold;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.783);
  }

  .totalamount p:nth-child(3) {
    font-size: 0.77em;
  }

  
  .remamount {
    border-top: 1px solid rgba(0, 0, 0, 0.075);
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    height: 44px;
    background: rgba(0, 68, 255, 0.031);
  }

  #aval {
    color: rgba(16, 59, 61, 0.541);
    font-weight: 100;
  }

  
  .ccs {
    width: 7px;
    height: 7px;
    background: rgba(0, 0, 0, 0.111);
    border-radius: 50%;
  }

  .pp {
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
    font-size: 0.76em;
  }

  .thr {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .st {
    display: flex;
    justify-content: space-between;
  }

  #dg {
    font-size: 0.76em;
  }

  .tot {
    width: 45px;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-radius: 50%;
    margin-bottom: 5px;
  }

}
